<div class="loginPage d-flex row">
  <!-- <div class="alerted" role="alert">
    <p>Token adiquirido com sucesso!</p>
  </div> -->
  <main class=" col-lg-4 d-flex align-items-center justify-content-center bg-green">
    <div class="gap-3 d-flex flex-column border border-dark border-3  w-75 rounded-5 bg-light p-5">
      <h6 class="text-center">Clique no botão abaixo para logar</h6>
      <button class="btn bg-green text-light" (click)="intoSystem()">Logar</button>
      <h6 class="text-center">Adquirir Token</h6>
      <button class="btn bg-green text-light" (click)="loginAccepted()">Token</button>
    </div>
  </main>
  <aside class="col-lg-8 bg-success bg-gradient"></aside>
</div>
